.categories_container {
	margin-top: 20px;
  display: flex;
  gap: 10px;
}

.filters_container {
  min-width: 270px;
}

.items_container > h1 {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 1.3;
  text-transform: none;
  color: #252525;
}
