.children_general_container {
  max-width: 1170px;
  min-height: 90vh;
  padding: 2em 2.6em;
  margin-left: auto;
  margin-right: auto;
}

/* navbar */

.navbar_desktop_container {
}

.navbar_mobile_container {
  display: none;
}

.navbar_desktop_upper {
  max-width: 1253.75px;
  padding: 30px 41.88px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.navbar_desktop_upper_search {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  background-color: #f8f8f8;
  border-radius: 5px;
  padding: 1.2em;
}
.navbar_desktop_upper_search > input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  padding: 1em;
  font-size: 20px;
  font-weight: 400;
}

.navbar_desktop_upper_links {
  display: flex;
  color: #404040;
}
.navbar_desktop_upper_links > li {
  width: 112.2px;
  height: 72.64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.navbar_desktop_lower {
  width: 100%;
  background: #232323;
  position: sticky;
  top: 0;
}
.navbar_desktop_lower_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1253.75px;
  padding: 30px 41.88px;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
}

.navbar_desktop_lower_links {
  color: #fff;
  display: flex;
  gap: 20px;
}
.navbar_desktop_lower_links > li > a {
  color: #fff;
  display: inline-block;
  position: relative;
}
.navbar_desktop_lower_links > li > a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #dc9915;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.navbar_desktop_lower_links > li > a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar_desktop_lower_cart_context {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.navbar_desktop_lower_cart_price {
  color: #fff;
}

.navbar_desktop_lower_cart_logo {
  padding: 4px 11px;
  border: 1px solid #dc9814;
  opacity: 1;
  color: #dc9814;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  position: relative;
  cursor: pointer;
  transition: all 0.1s ease-in;
}
.navbar_desktop_lower_cart_logo:hover {
  background-color: #dc9814;
  color: #fff;
}
.navbar_desktop_lower_cart_logo::after {
  position: absolute;
  bottom: 90%;
  left: 50%;
  width: 10px;
  height: 6px;
  margin-bottom: 1px;
  margin-left: -6px;
  border: 1px solid #dc9814;
  border-bottom: 0;
  border-top-left-radius: 99px;
  border-top-right-radius: 99px;
  content: "";
  transition: all 0.2s;
  pointer-events: none;
}

.cart_container {
  cursor: initial;
  position: absolute;
  z-index: 9999999;
  padding: 10px 15px 20px 15px;
  left: -400px;
  top: 100%;
  width: 400px;
  height: auto;
  background: #dc9814;
  border-radius: 5px;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: all 0.1s ease-in;
}
.cart_container_close_button {
  display: flex;
  justify-content: flex-end;
}
.cart_container_close_button > h2 {
  cursor: pointer;
  width: fit-content;
}

.cart_container_row {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
}

.cart_container_row_image {
  width: 100px;
  height: 100px;
}
.cart_container_row_image > img {
  width: 100%;
  height: 100%;
}

.cart_container_row_quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.cart_container_row_quantity > button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background: none;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.1s ease-in;
}
.cart_container_row_quantity > button:hover {
  background: #3bb54a;
  border-radius: 3px;
}

.cart_container_row_delete {
  padding: 7px;
  border-radius: 5px;
  background: #ff1428;
  cursor: pointer;
  color: #dc9814;
  font-weight: bold;
  border: none;
}

.checkout_button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bolder;
  cursor: pointer;
  background: #3bb54a;
  color: #fff;
}

.footer {
  background-color: #232323;
  padding: 4rem 0px;
}

.footer_inner {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px;
}

.footer_one {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer_one_column {
  padding: 0px 10px;
}
.footer_one_column_title {
  margin-bottom: 15px;
  color: #ffffff;
}
.footer_one_column_body {
  line-height: 1.5;
  color: #999999;
}
.footer_one_column_body > p {
  width: auto;
}

.footer_one_column_body_email_input {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.footer_one_column_body_email_input > input {
  padding: 12px 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
}
.footer_one_column_body_email_input > button {
  padding: 11px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #dc9915;
  color: #ffffff;
  font-size: 16px;
  min-width: max-content;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  .navbar_desktop_container {
    display: none;
  }

  .navbar_mobile_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0px 20px;
    position: relative;
  }

  .navbar_desktop_lower_cart_price {
    color: #232323;
  }

  .navbar_desktop_lower_cart_context {
    position: static;
  }

  .cart_container {
    position: absolute;
    width: auto;
    left: 15px;
    right: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .children_general_container {
    padding: 1em 0.6em;
  }
  .footer_one {
    flex-direction: column;
    gap: 30px;
  }

  .footer_one_column_title {
    margin-bottom: 0;
  }
}
